{% extends '_modele.jinja' %}

{%block centered_title %}
<div class="mx-auto p-2" style="width: 350px;">
  <h1>TOUTES LES PUBLICATIONS</h1>
</div>
{%endblock%}

{%block contenu %}
<ul class="list-inline">
    {% for item in context.publications %}
    <li class="list-inline-item m-1 col-5">
        <a href="#" class="link-underline link-underline-opacity-0">
            <div class="card ">
                <img class="card-img-top" src="{% if item.image %}  {%else%} {{url_for('static', filename='img/placeholder.jpg')}} {%endif%}" alt="photo de la place">
                <div class="card-body">
                    <p class="card-text">
                        <b>{{item.price}}$/h</b><br>
                        {{item.address}}, {{item.city}}
                    </p>
                </div>
            </div>  
        </a>
    </li>
    {%endfor%}
</ul>
{%endblock%}