{% extends '_modele.jinja' %}

{%block script%}
<script src="{{url_for('static', filename='js/recherche.js')}}"></script>
{%endblock%}

{%block centered_title %}
<div class="mx-auto p-2" style="width: 300px;">
  <h1>RECHERCHE</h1>
</div>
{%endblock%}

{%block contenu %}
<div class="container">
    <ul id="display" class="list-group">
        {%for item in context.publications%}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="container">
                {% set path = "/static/images/stationnement/" %}
                <div class="row gap-2">
                    <img class="col-3" src="{%if item.img == None%} /static/img/placeholder.jpg {%else%} {{path~item.img}}  {%endif%}" alt="phot de l'annonce">
                    <div class="col">
                        <p>{{item.address}}</p>
                        <span class="badge rounded-3 bg-dark">{{item.location}}</span>
                    </div>
                </div>
            </div>
            <span>{{item.price}}$/h</span>
        </li>
        {% endfor%}
    </ul>
</div>
{%endblock%}